@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-accent {
  background-color: #4e4e4e;
  height: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px 20px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-items: center; 
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  grid-column: 2;
}



.auth-link,
.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.auth-link:hover,
.nav-link:hover {
  color: #ff7096;
}

.nav-link.active {
  color: #ff7096;
  font-weight: 600;
}

.categories-container {
  display: flex;
  margin: 0;
}

.username {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
}