@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.selected-article {
  position: relative;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selected-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.selected-article img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.selected-article-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.selected-article-info p {
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.selected-article:hover .selected-article-info {
  opacity: 1;
}

@media (max-width: 768px) {
  .homepage-title {
    font-size: 2rem;
  }
}
